.elementor-kit-9{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#FF8F00;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-1d93470:#000000;--e-global-color-21ff9fb:#FFCE00;--e-global-color-562e4c2:#DDC4C4;--e-global-typography-primary-font-family:"GemunuLibre-ExtraBold";--e-global-typography-primary-font-size:24px;--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"GemunuLibre-Bold";--e-global-typography-secondary-font-size:20px;--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Nunito";--e-global-typography-text-font-size:11px;--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-global-typography-1db7d66-font-family:"GemunuLibre-ExtraBold";--e-global-typography-1db7d66-font-size:18px;--e-global-typography-1db7d66-font-weight:400;--e-global-typography-f09849d-font-family:"GemunuLibre-Bold";--e-global-typography-f09849d-font-size:16px;--e-global-typography-280501b-font-family:"GemunuLibre-ExtraBold";--e-global-typography-280501b-font-size:14px;--e-global-typography-4d038cc-font-family:"GemunuLibre-ExtraBold";--e-global-typography-4d038cc-font-size:12px;font-family:"Nunito", Sans-serif;font-size:10px;font-weight:400;}.elementor-kit-9 a{font-family:"GemunuLibre-ExtraBold", Sans-serif;font-size:24px;}.elementor-kit-9 h1{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-kit-9 h2{color:#FF8F00;font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-9 h3{color:var( --e-global-color-1d93470 );font-family:"GemunuLibre-ExtraBold", Sans-serif;font-size:14px;letter-spacing:1px;word-spacing:2em;}.elementor-kit-9 button,.elementor-kit-9 input[type="button"],.elementor-kit-9 input[type="submit"],.elementor-kit-9 .elementor-button{font-family:"GemunuLibre-Regular", Sans-serif;font-size:10px;background-color:var( --e-global-color-21ff9fb );border-radius:8px 8px 8px 8px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-9 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-9 h1{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-9 h2{font-size:var( --e-global-typography-secondary-font-size );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-9 h1{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-9 h2{font-size:var( --e-global-typography-secondary-font-size );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */@media (min-width: 769px) {
nav .main-nav .mega-menu2 {
position: static;
}

nav .main-nav .mega-menu2 > ul {
position: absolute;
width: 100%;
left: 0 !important;
display: flex;
flex-wrap: wrap;
}

nav .main-nav .mega-menu2 > ul > li > a {
font-weight: normal;
}

nav .main-nav .mega-menu2>ul>li {
display: inline-block;
width: 25%;
vertical-align: top;
}

nav .main-nav .mega-menu2.mega-menu2-col-2>ul>li {
width: 50%;
}

nav .main-nav .mega-menu2.mega-menu2-col-3>ul>li {
width: 33.3333%;
}

nav .main-nav .mega-menu2.mega-menu2-col-5>ul>li {
width: 20%;
}

nav .main-nav .mega-menu2 > ul > li:hover > a,
nav .main-nav .mega-menu2 > ul > li:focus > a,
nav .main-nav .mega-menu2 > ul > li[class*=»current-«] > a,
nav .main-nav .mega-menu2 ul ul {
background-color: transparent !important;
color: inherit;
}

nav .main-nav .mega-menu2 ul .sub-menu {
position: static;
display: block;
opacity: 1;
visibility: visible;
width: 100%;
box-shadow: 0 0 0;
left: 0;
height: auto;
}

nav .main-nav .mega-menu2 ul.toggled-on .sub-menu {
pointer-events: auto;
}

nav .main-nav .mega-menu2 .sub-menu .menu-item-has-children .dropdown-menu-toggle {
display: none;

}
/* Establece la transición para las imágenes */
.imagen1, .imagen2 {
  transition: transform 0.3s ease-in-out;
}

/* Define la posición inicial de las imágenes */
.imagen1 {
  transform: translateX(0);
}

.imagen2 {
  transform: translateX(0);
}

/* Cambia la posición al hacer hover en la imagen1 */
.imagen1:hover {
  transform: translateX(-50px); /* Cambia la posición a la izquierda en 50px */
}

/* Cambia la posición al hacer hover en la imagen2 */
.imagen2:hover {
  transform: translateX(50px); /* Cambia la posición a la derecha en 50px */
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'GemunuLibre-ExtraBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/02/GemunuLibre-ExtraBold.eot');
	src: url('../../2022/02/GemunuLibre-ExtraBold.eot#iefix') format('embedded-opentype'),
		url('../../2022/02/GemunuLibre-ExtraBold.woff2') format('woff2'),
		url('../../2022/02/GemunuLibre-ExtraBold.woff') format('woff'),
		url('../../2022/02/GemunuLibre-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'GemunuLibre-ExtraBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/02/GemunuLibre-Regular.eot');
	src: url('../../2022/02/GemunuLibre-Regular.eot#iefix') format('embedded-opentype'),
		url('../../2022/02/GemunuLibre-SemiBold.woff2') format('woff2'),
		url('../../2022/02/GemunuLibre-ExtraBold-1.woff') format('woff'),
		url('../../2022/02/GemunuLibre-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'GemunuLibre-ExtraBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/02/GemunuLibre-ExtraBold.eot');
	src: url('../../2022/02/GemunuLibre-ExtraBold.eot#iefix') format('embedded-opentype'),
		url('../../2022/02/GemunuLibre-ExtraBold.woff2') format('woff2'),
		url('../../2022/02/GemunuLibre-ExtraBold-1.woff') format('woff'),
		url('../../2022/02/GemunuLibre-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'GemunuLibre-Bold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/02/GemunuLibre-Bold.eot');
	src: url('../../2022/02/GemunuLibre-Bold.eot#iefix') format('embedded-opentype'),
		url('../../2022/02/GemunuLibre-SemiBold.woff2') format('woff2'),
		url('../../2022/02/GemunuLibre-SemiBold.woff') format('woff'),
		url('../../2022/02/GemunuLibre-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/04/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/04/Roboto-Medium.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'GemunuLibre-Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/02/GemunuLibre-Regular.eot');
	src: url('../../2022/02/GemunuLibre-Regular.eot#iefix') format('embedded-opentype'),
		url('../../2022/02/GemunuLibre-Regular.woff2') format('woff2'),
		url('../../2022/02/GemunuLibre-Regular.woff') format('woff'),
		url('../../2022/02/GemunuLibre-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */